{{!-- pCtlsFormSiteConfiguration.hbs
//    ----------------
//    Add/Edit Location form controls --}}

<div class="form-row">
	<div class="form-group col-md">
		<label for="CtMonthTrialMembNew">New member tial length in months</label>
		<input name="CtMonthTrialMembNew" value="{{CtMonthTrialMembNew}}" type="number"
			class="form-control">
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md">
		<label for="FeeMembInit">New member fee in dollars</label>
		<input name="FeeMembInit" value="{{FeeMembInit}}" type="number"
			class="form-control">
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md">
		<label for="FeeMembRenew">Member renewal fee in dollars</label>
		<input name="FeeMembRenew" value="{{FeeMembRenew}}" type="number"
			class="form-control">
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md">
		<label for="FeeInvtIt">Inventory fee per item stored</label>
		<input name="FeeInvtIt" value="{{FeeInvtIt}}" type="number"
			class="form-control">
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md">
		<label for="FracFeeCoopProducer">Producer fee in fractions (percentage divided by 100)</label>
		<input name="FracFeeCoopProducer" value="{{FracFeeCoopProducer}}" type="number"
			class="form-control">
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md">
		<label for="FracFeeCoopShop">Market fee in fractions (percentage divided by 100)</label>
		<input name="FracFeeCoopShop" value="{{FracFeeCoopShop}}" type="number"
			class="form-control">
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md">
		<label for="FeeTransfer">Transfer fee in dollars</label>
		<input name="FeeTransfer" value="{{FeeTransfer}}" type="number"
			class="form-control">
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md">
		<label for="FeeDelivBase">Delivery fee base in dollars</label>
		<input name="FeeDelivBase" value="{{FeeDelivBase}}" type="number"
			class="form-control">
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md">
		<label for="FeeDelivMile">Delivery fee extra per miles in dollars</label>
		<input name="FeeDelivMile" value="{{FeeDelivMile}}" type="number"
			class="form-control">
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md">
		<label for="FracTaxSale">Sales tax in fractions (percentage divided by 100)</label>
		<input name="FracTaxSale" value="{{FracTaxSale}}" type="number"
			class="form-control">
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md">
		<label for="FracFeeCoopWholesaleProducer">Wholesale producer fee in fractions (percentage divided by 100)</label>
		<input name="FracFeeCoopWholesaleProducer" value="{{FracFeeCoopWholesaleProducer}}" type="number"
			class="form-control">
	</div>
</div>

<div class="form-row">
	<div class="form-group col-md">
		<label for="FracFeeCoopWholesaleMemb">Wholesale market fee in fractions (percentage divided by 100)</label>
		<input name="FracFeeCoopWholesaleMemb" value="{{FracFeeCoopWholesaleMemb}}" type="number"
			class="form-control">
	</div>
</div>
