{{!-- cycle history.hbs
//    -----------------
//    Cycle History view --}}

<div class="container-xl py-4">
	<h2>{{t "common:cycleHistory.title"}}</h2>

	<div class="d-print-none row">
		<div class="col">
			{{t "common:cycleHistory.description"}}
		</div>
		<div class="col">
			{{>Misc/pInstructPrint}}
		</div>
	</div>

	<hr>

	{{#unless Cycs}}
	<div class="jumbotron mt-4">
		<h2 class="display-4 font-size-200">{{t "common:accounting.noCompletedCycles"}}</h2>
	</div>
	{{else}}
	<div class="table-responsive mt-3">
		<table class="table table-sm table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">{{t "common:cycleHistory.cycleId"}}</th>
					<th scope="col">{{t "common:cycleHistory.cycleStart"}}</th>
					<th scope="col" class="text-center">{{t "common:cycleHistory.shopping"}}</th>
					<th scope="col" class="text-center">{{t "common:cycleHistory.delivery"}}</th>
					<th scope="col" class="text-center">{{t "common:cycleHistory.pickup"}}</th>
					<th scope="col" class="text-right">{{t "common:cycleHistory.cycleEnd"}}</th>
				</tr>
			</thead>
			<tbody>
				{{#each Cycs}}
				<tr>
					<td class="align-middle">{{hTextIDCyc IDCyc}}</td>
					<td class="align-middle">
						{{hTextWhen WhenStartCyc "FullShort" "HourMin"}}
					</td>
					<td class="text-center">
						{{hTextWhen WhenStartShop "FullShort" "HourMin"}}<br>
						{{hTextWhen WhenEndShop "FullShort" "HourMin"}}
					</td>
					<td class="text-center">
						{{hTextWhen WhenStartDeliv "FullShort" "HourMin"}}<br>
						{{hTextWhen WhenEndDeliv "FullShort" "HourMin"}}
					</td>
					<td class="text-center">
						{{hTextWhen WhenStartPickup "FullShort" "HourMin"}}<br>
						{{hTextWhen WhenEndPickup "FullShort" "HourMin"}}
					</td>
					<td class="align-middle text-right">
						{{hTextWhen WhenEndCyc "FullShort" "HourMin"}}
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	{{/unless}}
</div>
