{{!-- distribution.hbs
//    ----------------
//    Distribution home view --}}

<div class="container-md py-4">
	<div class="row">
		{{!-- Doesn't seem necessary to hide the border on small displays, or
		//    possible, without responsive border class: --}}
		<div class="col-sm pr-sm-4 border-right mb-0">

			<h5>{{t "common:distribution.cycleManagement"}}</h5>

			<div class="d-md-flex flex-row justify-content-between mt-3">
				<div>
					{{t "common:distribution.currentCycle"}}
				</div>
				<div class="text-md-right font-weight-bold">
					{{hTextIDCyc CycCurr.IDCyc}}
				</div>
			</div>

			<div class="LinksPg mb-2">
				<a href="/cycle-summary">{{t "common:distribution.cycleSummary"}}</a>
				<a href="/cart-summary">{{t "common:distribution.cartSummary"}}</a>
			</div>

			<div class="d-md-flex flex-row justify-content-between">
				<div>
					{{t "common:distribution.shoppingWindow"}}
				</div>
				<div class="text-md-right font-weight-bold">
					{{#if FlagBeforeShop}}{{hTextWhen WhenStartShopNext "FullMed" "HourMin"}}{{/if}}
					{{#if FlagShop}}{{t "common:distribution.open"}}{{/if}}
					{{#if FlagAfterShop}}{{t "common:distribution.closed"}}{{/if}}
				</div>
			</div>
			<div class="d-md-flex flex-row justify-content-between mt-2 mt-md-0">
				<div>
					{{t "common:distribution.deliveryWindow"}}
				</div>
				<div class="text-md-right font-weight-bold">
					{{#if FlagBeforeDeliv}}{{hTextWhen WhenStartDelivNext "FullMed" "HourMin"}}{{/if}}
					{{#if FlagDeliv}}{{t "common:distribution.open"}}{{/if}}
					{{#if FlagAfterDeliv}}{{t "common:distribution.closed"}}{{/if}}
				</div>
			</div>
			<div class="d-md-flex flex-row justify-content-between mt-2 mt-md-0">
				<div>
					{{t "common:distribution.pickupWindow"}}
				</div>
				<div class="text-md-right font-weight-bold">
					{{#if FlagBeforePickup}}{{hTextWhen WhenStartPickupNext "FullMed" "HourMin"}}{{/if}}
					{{#if FlagPickup}}{{t "common:distribution.open"}}{{/if}}
					{{#if FlagAfterPickup}}{{t "common:distribution.closed"}}{{/if}}
				</div>
			</div>

			<div class="LinksPg">
				<a href="/edit-cycle-times" class="{{hClassDisabLackSuper}}">
					{{t "common:distribution.editCycleTimes"}}
				</a>
				<a href="/cycle-history">{{t "common:distribution.cycleHistory"}}</a>
			</div>

			<hr>

			<h5>{{t "common:distribution.producerDelivery"}}</h5>

			<div class="LinksPg">
				<a href="/shelving-prep">{{t "common:distribution.shelvingPrep"}}</a>
				<a href="/delivery-progress">{{t "common:distribution.deliveryProgress"}}</a>
			</div>

			{{#if LocsPickup}}
			<h6>{{t "common:distribution.locationFulfillment"}}</h6>

			<div class="LinksPg">
				{{#each LocsPickup}}
				<a href="/location-fulfillment/{{CdLoc}}">{{NameLoc}}</a>
				{{/each}}
			</div>
			{{/if}}
		</div>

		<div class="col-sm pl-md-4">
			<hr class="d-sm-none mt-0">

			<h5>{{t "common:distribution.shopperPickup"}}</h5>

			<div class="LinksPg">
				<a href="/shopper-summary">{{t "common:distribution.shopperSummary"}}</a>
			</div>

			{{#if LocsPickupPend}}
			<h6>{{t "common:distribution.pickupProgressPending"}}</h6>

			<div class="LinksPg">
				{{#each LocsPickupPend}}
				<a href="/pickup-progress/{{CdLoc}}">{{NameLoc}}</a>
				{{/each}}
			</div>
			{{/if}}

			{{#if LocsPickupDone}}
			<h6>{{t "common:distribution.pickupProgressComplete"}}</h6>

			<div class="LinksPg mb-2">
				{{#each LocsPickupDone}}
				<a href="/pickup-progress/{{CdLoc}}">{{NameLoc}}</a>
				{{/each}}
			</div>
			{{/if}}

			<div class="text-muted font-size-90">
				{{t "common:distribution.deliveryDistanceHint"}}
			</div>

			<hr>

			<h5>{{t "common:distribution.transferLoading"}}</h5>

			<div class="LinksPg mb-0">
				{{#each LocsSatel}}
				<a href="/transfer-loading/{{CdLoc}}">{{NameLoc}}</a>
				{{/each}}
			</div>
		</div>
	</div>
</div>
