{{!-- pickup-progress.hbs
//    -------------------
//    Pickup Progress view --}}

<style>
	#MembsPend .card {
		background-color: hsla(45, 80%, 93%, 1);
	}

	#MembsDone .card {
		background-color: hsla(140, 50%, 93%);
	}

	#MembsUndeliv .card {
		background-color: hsla(0, 90%, 93%, 1);
	}

	.HeadGrp {
		min-height: 3.5em;
	}
</style>

{{#*inline "pMembs"}}
<div class="Flow-md-2 mb-4">
	{{#each this}}
	<div class="card NoBreak mb-3">
		<div class="card-body d-flex flex-row px-3">
			<div class="mr-3">
				<img src="{{hPrefixStatic 'memb.svg'}}" alt="" width="40" height="40">
			</div>
			<div>
				<h6 class="card-subtitle mb-0">{{hLinkDtlMemb IDMemb}}</h6>
				<h5 class="card-title mb-2">{{Name1First}} {{Name1Last}}</h5>
				<h6 class="card-subtitle font-weight-normal">{{City}}</h6>

				<div class="mt-2">
					{{hLinkEmail Email1}}<br>
					{{hLinkPhone Phone1}}
				</div>
			</div>
		</div>

		{{#unless (hCkEq CdStatCart "Undeliv")}}
		<div class="card-footer px-3">
			{{#if (hCkEq CdStatCart "Pend")}}
			<div class="d-flex justify-content-between align-items-center">
				<div>
					{{QtyDeliv}} {{hPlural QtyDeliv "item"}} for pickup
				</div>
				{{#if @root.FlagPickup}}
				<div>
					<a href="/order-fulfillment/{{IDMemb}}"
						class="btn btn-sm btn-outline-primary">Fulfill order</a>
					<a href="/shopper-checkout/{{IDMemb}}"
						class="btn btn-sm btn-outline-primary">Check out</a>
				</div>
				{{/if}}
			</div>
			{{else}}
			<div class="d-flex justify-content-between align-items-center">
				<div>
					Checked-out <a href="/web-shopper-invoice/{{IDInvcShopWeb}}">
						{{hTextWhen WhenUpd "Med" "HourMin"}}<br>
					</a>
					{{QtySold}} {{hPlural QtySold "item"}} sold
				</div>
				<div>
					{{!-- This button shouldn't be necessary at this point, but just in
					//    case: --}}
					<a href="/order-fulfillment/{{IDMemb}}"
						class="btn btn-sm btn-outline-primary">Fulfill order</a>
				</div>
			</div>
			{{/if}}
		</div>
		{{/unless}}
	</div>
	{{/each}}
</div>
{{/inline}}

<div class="container py-4">
	<div class="d-flex justify-content-between align-items-baseline">
		<h2 class="mb-0">Pickup progress</h2>
		<h4 class="mb-0">{{Loc.NameLoc}}</h4>
	</div>

	<hr>

	{{#unless FlagPickup}}
	<p class="lead">The pickup window has closed</p>
	{{else}}
	<div id="MembsPend">
		<div class="HeadGrp d-md-flex align-items-center HeadSheet border rounded
			py-1 px-2 my-3">
			<div class="d-none d-md-block mr-2">
				<img src="{{hPrefixStatic 'question.svg'}}" alt="" width="35" height="35">
			</div>
			<h5 class="mb-0">Pending pickups</h5>

			<div class="font-weight-semi text-md-right ml-auto">
				{{#if Pend.Membs}}
				{{Pend.Membs.length}}
				{{hPlural Pend.Membs.length "shopper"}}<br>
				{{Pend.CtIt}} {{hPlural Pend.CtIt "item"}} for pickup
				{{else}}
				<h5 class="mb-0">NONE</h5>
				{{/if}}
			</div>
		</div>

		{{#if Pend.Membs}}
		{{>pMembs Pend.Membs}}
		{{/if}}
	</div>
	{{/unless}}

	<div id="MembsDone">
		<div class="HeadGrp d-md-flex align-items-center HeadSheet border rounded
			py-1 px-2 my-3">
			<div class="d-none d-md-block mr-2">
				<img src="{{hPrefixStatic 'done.svg'}}" alt="" width="35" height="35">
			</div>
			<h5 class="mb-0">Completed pickups</h5>

			<div class="font-weight-semi text-md-right ml-auto">
				{{#if Done.Membs}}
				{{Done.Membs.length}}
				{{hPlural Done.Membs.length "shopper"}}<br>
				{{Done.CtIt}} {{hPlural Done.CtIt "item"}} sold
				{{else}}
				<h5 class="mb-0">NONE</h5>
				{{/if}}
			</div>
		</div>

		{{#if Done.Membs}}
		{{>pMembs Done.Membs}}
		{{/if}}
	</div>

	<div id="MembsUndeliv">
		<div class="HeadGrp d-md-flex align-items-center HeadSheet border rounded
			py-1 px-2 my-3">
			<div class="d-none d-md-block mr-2">
				<img src="{{hPrefixStatic 'cancel.svg'}}" alt="" width="35" height="35">
			</div>
			<h5 class="mb-0">Unfulfillable orders</h5>

			<div class="font-weight-semi text-md-right ml-auto">
				{{#if Undeliv.Membs}}
				{{Undeliv.Membs.length}}
				{{hPlural Undeliv.Membs.length "shopper"}}
				{{else}}
				<h5 class="mb-0">NONE</h5>
				{{/if}}
			</div>
		</div>

		{{#if Undeliv.Membs}}
		<p>
			No items from these orders were delivered to {{CoopParams.CoopNameShort}}, so they cannot be
			fulfilled. The members have already been e-mailed.
		</p>
		{{>pMembs Undeliv.Membs}}
		{{/if}}
	</div>
</div>
