{{!-- 500.hbs
//    -------
//    Custom '500 Internal Server Error' view --}}

<div class="jumbotron">
	<div class="container">
		<div class="d-md-flex flex-row">
			<h1 class="display-4 CdResp mb-0 pr-3">
				500
			</h1>
			<div class="BordDk border-md-left pl-md-3">
				<h1 class="display-4">
					{{#if Head}}
					{{Head}}
					{{else}}
					{{t "errors:page500.heading"}}
					{{/if}}
				</h1>
				<div class="lead">
					{{#if Msg}}
					{{Msg}}
					{{else}}
					{{t "errors:page500.message"}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>
