{{!-- member-search-results.hbs
//    -------------------------
//    Member Search Results view --}}

<div class="container-md py-4">
	<h2>{{t "common:admin.memberSearchResults"}}</h2>

	<div class="d-sm-flex flex-row">
		<div class="lead">
			{{#each SummsParam}}
			{{Lbl}}{{#if Val}}
			<strong>{{Val}}</strong>{{/if}}{{#unless @last}}, {{/unless}}
			{{else}}
			{{t "common:admin.allMembers"}}
			{{/each}}
		</div>

		<div class="lead ml-auto">{{TextRg}}</div>
	</div>

	<hr>

	{{#unless Membs}}
	<div class="jumbotron">
		<h2 class="display-4 font-size-200">{{t "common:admin.noMatches"}}</h2>
	</div>
	{{else}}
	<div class="table-responsive mt-3">
		<table class="table table-sm table-striped table-hover mb-0">
			<thead>
				<tr>
					<th scope="col">{{t "common:admin.memberId"}}</th>
					<th scope="col">{{t "common:admin.memberBusiness"}}</th>
					<th scope="col">{{t "common:admin.name1"}}</th>
					<th scope="col">{{t "common:admin.name2"}}</th>
					<th scope="col">{{t "common:admin.city"}}</th>
					<th scope="col">{{t "common:admin.state"}}</th>
					<th scope="col">{{t "common:admin.zip"}}</th>
					<th scope="col" class="text-right">{{t "common:admin.balance"}}</th>
				</tr>
			</thead>
			<tbody>
				{{#each Membs}}
				<tr style="cursor: pointer" data-toggle="modal"
					data-target="#DlgDtlMemb{{IDMemb}}">

					<td>{{hTextIDMemb IDMemb}}</td>
					<td>{{NameBus}}</td>
					<td>{{Name1First}} {{Name1Last}}</td>
					<td>{{Name2First}} {{Name2Last}}</td>
					<td>{{City}}</a></td>
					<td>{{St}}</a></td>
					<td>{{Zip}}</td>
					<td class="text-right">
						{{hTextCurrOrOrig (hSum BalMoney BalEBT)}}
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>

		<hr>

		<div class="d-sm-flex flex-row justify-content-between">
			{{#if Membs}}
			<div>
				<a class="btn btn-secondary" href="{{PathExport}}">{{t "common:buttons.export"}}</a>
			</div>
			{{/if}}

			{{#if CkPaging}}
			<div>
				{{{hBtnPageSearch PathPagePrev (t "common:search.previous")}}}
				{{{hBtnPageSearch PathPageNext (t "common:search.next")}}}
			</div>
			{{/if}}
		</div>
	</div>
	{{/unless}}
</div>

{{!-- ---------------------
//    Member detail dialogs
//    --------------------- --}}

{{#each Membs}}
<div id="DlgDtlMemb{{IDMemb}}" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			{{!-- 'modal-header' appears to be 'flex', and there isn't room on narrow
			//    displays for the impersonation button to go in the upper right
			//    corner: --}}
			<div
				class="modal-header d-block d-sm-flex flex-row align-items-center py-2">
				{{>MembAdmin/pHeadDtlMemb}}
			</div>

			<div class="modal-body">
				{{>MembAdmin/pBodyDtlMemb}}
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary ml-auto"
					data-toggle="modal" data-target="#DlgDtlMemb{{IDMemb}}">{{t "common:buttons.close"}}</button>
			</div>
		</div>
	</div>
</div>
{{/each}}
