{{!-- pBodyDtlMemb.hbs
//    ----------------
//    Member detail body --}}

<div class="row">
	{{!-- Doesn't seem necessary to hide the border on small displays, or
	//    possible, without responsive border class: --}}
	<div class="col-lg pr-lg-4 border-lg-right">
		<div class="mb-2">
			<strong>
				{{Name1First}} {{Name1Last}}<br>
				{{#if Name2Last}}
				{{Name2First}} {{Name2Last}}<br>
				{{/if}}
			</strong>
			{{#if NameBus}}{{NameBus}}<br>{{/if}}
			{{Addr1}}<br>
			{{#if Addr2}}{{Addr2}}<br>{{/if}}
			{{City}}, {{St}} {{Zip}}
			{{#if InstructDeliv}}<br><em>{{InstructDeliv}}</em>{{/if}}
		</div>

		<div class="mb-2">
			{{hLinkEmail Email1}}
			{{#if Email2}}<br>{{hLinkEmail Email2}}{{/if}}
		</div>

		<div class="mb-2">
			{{hLinkPhone Phone1}}
			{{#if Phone2}}<br>{{hLinkPhone Phone2}}{{/if}}
		</div>

		<div class="d-flex flex-row justify-content-between">
			<div>
				{{t "common:memberDetail.homeDeliveryDistance"}}
			</div>
			<div>
				<strong>
					{{#if (hCkNotNull DistDeliv)}}
					{{hTextFixedOrOrig DistDeliv 2}} {{t "common:memberDetail.miles"}}
					{{else}}
					{{t "common:memberDetail.unknown"}}
					{{/if}}
				</strong>
			</div>
		</div>

		<div class="LinksPg">
			<a href="/edit-member-registration/{{IDMemb}}">{{t "common:memberDetail.editMemberRegistration"}}</a>
		</div>

		<hr>

		<h5>{{t "common:memberDetail.status"}}</h5>

		<div class="d-flex flex-row justify-content-between">
			<div>
				{{t "common:memberDetail.membershipStatus"}}
			</div>
			<div>
				<strong>{{hTextCdReg CdRegMemb}}</strong>
			</div>
		</div>

		<div class="d-flex flex-row justify-content-between">
			<div>
				{{t "common:memberDetail.ebtStatus"}}
			</div>
			<div>
				<strong>{{hTextCdReg CdRegEBT}}</strong>
			</div>
		</div>

		<div class="mt-2">
			<div class="d-flex flex-row justify-content-between">
				<div>
					{{t "common:memberDetail.showProducerPage"}}
				</div>
				<div>
					<strong>{{hYesNoBlank CkShowProducer}}</strong>
				</div>
			</div>

			<div class="d-flex flex-row justify-content-between">
				<div>
					{{t "common:memberDetail.volunteerStatus"}}
				</div>
				<div>
					<strong>{{hTextCdReg CdRegVolun}}</strong>
				</div>
			</div>

			<div class="d-flex flex-row justify-content-between">
					<div>
						{{t "common:memberDetail.wholesaleStatus"}}
					</div>
					<div>
						<strong>{{hTextCdReg CdRegWholesale}}</strong>
					</div>
			</div>

			<div class="d-flex flex-row justify-content-between">
				<div>
					{{t "common:memberDetail.staffStatus"}}
				</div>
				<div>
					<strong>{{hTextCdStaff CdStaff}}</strong>
				</div>
			</div>
		</div>

		<div class="d-flex flex-row justify-content-between mt-2">
			<div>
				{{t "common:memberDetail.memberSince"}}
			</div>
			<div>
				<strong>{{hTextWhen WhenRegMemb "Med"}}</strong>
			</div>
		</div>

		{{#if Notes}}
		<div class="text-muted font-size-90 font-italic mt-2">
			{{hHTMLLinesP (hQuoteDbl Notes)}}
		</div>
		{{/if}}

		<div class="LinksPg mb-0">
			<a href="/edit-member-status/{{IDMemb}}">{{t "common:memberDetail.editMemberStatus"}}</a>
		</div>
	</div>

	<div class="col-lg pl-lg-4">
		<hr class="d-lg-none mb-3">

		<h5>{{t "common:memberDetail.fulfillment"}}</h5>

		<div class="LinksPg mb-2">
			<a href="/order-fulfillment/{{IDMemb}}"
				class="{{hClassDisab (hNot QtyProm)}}">
				{{t "common:memberDetail.orderFulfillment"}}
			</a>
			<a href="/shopper-checkout/{{IDMemb}}"
				class="{{hClassDisab (hNot QtyProm)}}">
				{{t "common:memberDetail.shopperCheckout"}}
			</a>
		</div>
		<div>
			{{#if QtyProm}}
			<a href="/cart-detail/{{IDCart}}">
				{{QtyProm}} {{hPlural QtyProm "item"}} promised for purchase
			</a>
			{{else}}
			{{t "common:memberDetail.noItemsPromised"}}
			{{/if}}
		</div>

		<hr>

		<h5>{{t "common:memberDetail.onSite"}}</h5>

		<div class="LinksPg">
			<a href="/associate-member-on-site-cart/{{IDMemb}}">
				{{t "common:memberDetail.associateWithCart"}}
			</a>
		</div>

		<hr>

		<h5>{{t "common:memberDetail.billing"}}</h5>

		<div class="d-flex flex-row justify-content-between mb-2">
			<div>
				{{t "common:memberDetail.accountBalance"}}
			</div>
			{{#if BalEBT}}
			<div>{{>Memb/pTblBalEBT this}}</div>
			{{else}}
			<div class="text-right font-weight-bold">
				{{hTextCurrOrOrig BalMoney}}
			</div>
			{{/if}}
		</div>
		<div class="d-flex flex-row justify-content-between mb-2">
			<div>
				{{t "common:memberDetail.lastMemberFee"}}
			</div>
			<div class="text-right">
				<strong>
				{{#if WhenFeeMembLast}}
				{{hTextDateLong WhenFeeMembLast}}
				{{else}}
				{{t "common:memberDetail.notAssessed"}}
				{{/if}}
				</strong>
			</div>
		</div>

		<div class="LinksPg mb-0">
			<a href="/shopper-invoices/{{IDMemb}}">{{t "common:memberDetail.shopperInvoices"}}</a>
			<a href="/transactions/{{IDMemb}}">{{t "common:memberDetail.transactions"}}</a>
			<a href="/add-member-transaction/{{IDMemb}}"
				class="{{hClassDisabLackAccts}}">
				{{t "common:memberDetail.addMemberTransaction"}}
			</a>
		</div>

		<hr>

		<h5>{{t "common:memberDetail.memberTags"}}</h5>

		{{#each MemberTagAssignments}}
			<span class="badge badge-secondary">{{Tag}}</span>
		{{/each}}

		{{#if (hNot MemberTagAssignments.length)}}
			{{t "common:memberDetail.noMemberTags"}}
		{{/if}}

		<div class="LinksPg mb-0">
			<a href="/edit-member-tags/{{IDMemb}}">{{t "common:memberDetail.editMemberTags"}}</a>
		</div>
	</div>
</div>
