{{!-- on-site.hbs
//    -----------
//    On-site home view --}}

<div class="container-md py-4">
	<div class="row">
		{{!-- Doesn't seem necessary to hide the border on small displays, or
		//    possible, without responsive border class: --}}
		<div class="col-sm pr-sm-4 border-right">
			<h5>{{t "common:onsite.managedInventory"}}</h5>

			<p class="text-muted font-size-90">
				{{t "common:onsite.managedInventoryHelp" name=CoopParams.CoopNameShort}}
			</p>

			<div class="LinksPg">
				<a href="/managed-catalog">{{t "common:onsite.managedCatalog"}}</a>
			</div>
		</div>

		<div class="col-sm pl-md-4">
			<hr class="d-sm-none mt-0">

			<h5>{{t "common:onsite.onSiteStore"}}</h5>

			<p class="text-muted font-size-90">
				{{t "common:onsite.onSiteStoreHelp"}}
				<br>{{t "common:onsite.locateItems"}} 
				<a href="/on-site-catalog">{{t "common:onsite.retailCatalog"}}</a> {{t "common:onsite.or"}}
				<a href="/wholesale-catalog">{{t "common:onsite.wholesaleCatalog"}}</a> {{t "common:onsite.andClick"}}
				<span class="font-weight-semi">{{t "common:onsite.addToOnsiteCart"}}</span> {{t "common:onsite.toAddWithoutScanning"}}
			</p>

			<div class="LinksPg">
				<a href="/on-site-catalog">{{t "common:onsite.retailCatalog"}}</a>
				<a href="/wholesale-catalog">{{t "common:onsite.wholesaleCatalog"}}</a>
			</div>
			<div class="LinksPg">
				<a href="/on-site-cart">{{t "common:onsite.onSiteCart"}}</a>
				<a href="/on-site-checkout">{{t "common:onsite.onSiteCheckout"}}</a>
			</div>

			<hr>

			<div class="LinksPg">
				<a href="/on-site-shopper-invoices">{{t "common:onsite.retailShopperInvoices"}}</a>
				<a href="/wholesale-shopper-invoices">{{t "common:onsite.wholesaleShopperInvoices"}}</a>
			</div>

			<hr>

			<div class="LinksPg">
				<a href="/wholesale-inventory">{{t "common:onsite.wholesaleInventory"}}</a>
			</div>
		</div>
	</div>
</div>
