{{!-- wholesale-catalog.hbs
//    -------------------
//    Wholesale Catalog view --}}

<div class="container py-4">
	<div class="d-md-flex flex-row align-items-end">
		<h2>{{t "common:onsite.wholesaleOnsiteCatalog"}}</h2>

		<h5 class="ml-auto">{{hTextWhen (hNow) "FullMed" "HourMin"}}</h5>
	</div>

	<p class="d-print-none">
		{{t "common:onsite.wholesaleCatalogDescription"}}
	</p>

	{{!-- Desktop layout
	//    -------------- --}}

	<div class="d-none d-md-block">
		{{#each Stors}}
		<div class="mt-4">
			<div class="d-flex align-items-center mt-4">
				<img src="{{hPrefixStatic 'stor.svg'}}" alt="" class="d-none d-lg-block ml-1 mr-3"
					width="30" height="30">
				<h3 class="mb-0">
					{{CdStor}}: {{hTextCdStor CdStor}}
				</h3>
			</div>

			<hr class="mt-2 mb-1">

			<div class="GridTbl Head">
				<div class="row font-weight-bold align-items-end">
					{{!-- The button column needs extra width on medium layouts: --}}
					<div class="col">{{t "common:onsite.producerProductVariety"}}</div>
					<div class="col-2 text-right">{{t "common:onsite.wholesalePrice"}}</div>
					<div class="col-1 text-right">{{t "common:onsite.quantityWholesale"}}</div>
					<div class="d-print-none col-3 col-lg-2"></div>
				</div>
			</div>

			<div class="GridTbl Body">
				{{#each Vtys}}
				<div class="Row">
					<div class="row align-items-center py-1">
						<div class="col">
							<a href="/producer-detail/{{IDProducer}}">
								{{hTextIDProducer IDProducer}} {{NameBus}}
							</a><br>
							<a href="/product-detail/{{IDProduct}}">
								{{hTextIDProduct IDProduct}} {{NameProduct}}
							</a><br>
							{{hTextIDVty IDVty}} {{hNameVty this}}
						</div>

						<div class="col-2 text-right">
							{{hTextCurrOrOrig PriceNomOnsite}}{{#if WgtMin}}/lb{{/if}}
						</div>
						<div class="col-1 text-right">{{QtyOnsite}}</div>

						<div class="d-print-none col-3 col-lg-2 d-flex flex-column
							align-items-end pl-0">
							<a href="/variety-labels/{{IDVty}}"
								class="btn btn-sm btn-outline-secondary">
								{{t "common:onsite.labels"}}
							</a>
							<a href="/add-to-on-site-cart/{{IDVty}}"
								class="btn btn-sm btn-outline-primary ml-0 mt-1">
								{{t "common:onsite.addToWholesaleCart"}}
							</a>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		{{else}}
		<hr>
		<div class="jumbotron">
			<h2 class="display-4 font-size-200">{{t "common:onsite.noWholesaleItems"}}</h2>
		</div>
		{{/each}}
	</div>

	{{!-- Mobile layout
	//    -------------
	//    This page is more likely to be used on a mobile device, so we will
	//    spend a little more time here. --}}

	<div class="d-md-none">
		{{#each Stors}}
		<div class="mt-4">
			<h3 class="mt-4 mb-3">
				{{CdStor}}: {{hTextCdStor CdStor}}
			</h3>

			<div class="GridTbl Body">
				{{#each Vtys}}
				<div class="Row p-2">
					<div>
						<a href="/producer-detail/{{IDProducer}}">
							{{hTextIDProducer IDProducer}} {{NameBus}}
						</a><br>
						<a href="/product-detail/{{IDProduct}}">
							{{hTextIDProduct IDProduct}} {{NameProduct}}
						</a><br>
						{{hTextIDVty IDVty}} {{hNameVty this}}
					</div>

					<div>
						<hr class="my-2 mx-0">

						<div class="row px-0">
							<div class="col font-weight-semi">
								{{hTextCurrOrOrig PriceNomOnsite}}{{#if WgtMin}}/lb{{/if}}
							</div>
							<div class="col-3 text-right">
								<span class="font-weight-semi">{{QtyOnsite}}</span> {{t "common:onsite.wholesaleShort"}}
							</div>
						</div>

						<hr class="mt-2 mb-1 mx-0">
					</div>

					<div class="d-flex flex-row align-items-end text-right mt-2">
						<a href="/variety-labels/{{IDVty}}"
							class="btn btn-sm btn-outline-secondary">
							{{t "common:onsite.labels"}}
						</a>
						<a href="/add-to-wholesale-cart/{{IDVty}}"
							class="btn btn-sm btn-outline-primary ml-auto">
							{{t "common:onsite.addToWholesaleCart"}}
						</a>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		{{else}}
		<hr>
		<div class="jumbotron">
			<h2 class="display-4 font-size-200">{{t "common:onsite.noWholesaleItems"}}</h2>
		</div>
		{{/each}}
	</div>

	{{#if Stors}}
	<hr>
	<div class="d-flex">
		<a class="btn btn-secondary ml-auto" href="/wholesale-catalog-export">
			{{t "common:buttons.export"}}
		</a>
	</div>
	{{/if}}
</div>
