{{!-- pBoxCat.hbs
//    -----------
//    Product category checkbox --}}

<div class="custom-control custom-checkbox mt-2">
	<input id="Cat{{IDCat}}" name="Cat{{IDCat}}"
		type="checkbox" {{hAttrCk Ck false}} class="custom-control-input">
	<label for="Cat{{IDCat}}" class="custom-control-label">
		{{NameCat}}
	</label>
</div>