{{!-- producer.hbs
// ------------
// Producer home view --}}

<div class="container-md py-4">
	<div>
		<h3 class="display-4 font-size-150 mb-0">{{CredSelImperUser.NameLogin}}</h3>
		{{>Misc/pIDsLine CredSelImperUser}}
	</div>

	<hr>

	<div class="row">
		{{!-- Doesn't seem necessary to hide the border on small displays, or
		// possible, without responsive border class: --}}
		<div class="col-sm pr-sm-4 border-right">
			<div class="mb-2">
				<strong>
					{{Producer.NameBus}}<br>
				</strong>
				{{Producer.Addr1}}<br>
				{{#if Producer.Addr2}}{{Producer.Addr2}}<br>{{/if}}
				{{Producer.City}}, {{Producer.St}} {{Producer.Zip}}
				{{#if Producer.InstructDeliv}}<br><em>{{Producer.InstructDeliv}}</em>{{/if}}
			</div>

			<div class="mb-2">
				{{hLinkEmail Producer.Email}}
			</div>

			<div class="mb-2">
				{{hLinkPhone Producer.Phone1}}
			</div>

			<div class="LinksPg">
				<a href="/edit-about-producer">{{t "common:producer.editAbout"}}</a>
				<a href="/edit-producer-registration">{{t "common:producer.editRegistration"}}</a>
			</div>

			<hr>

			<h5>{{t "common:producer.status"}}</h5>

			<div class="d-flex flex-row justify-content-between">
				<div>
					{{t "common:producer.producerStatus"}}
				</div>
				<div>
					<strong>{{hTextCdReg Producer.CdRegProducer}}</strong>
				</div>
			</div>

			<div class="d-flex flex-row justify-content-between">
				<div>
					{{t "common:producer.wholesaleStatus"}}
				</div>
				<div>
					<strong>{{hTextCdReg Producer.CdRegWholesale}}</strong>
				</div>
			</div>

			<div class="d-flex flex-row justify-content-between">
				<div>
					{{t "common:producer.listingStatus"}}
				</div>
				<div>
					<strong>{{hTextCkListProducer Producer.CkListProducer}}</strong>
				</div>
			</div>

			<div class="LinksPg mb-0">
				<a href="/edit-producer-status">{{t "common:producer.editStatus"}}</a>
			</div>

			<hr>

			<h5>{{t "common:producer.advancedReports"}}</h5>

			<div class="LinksPg mb-0">
				<a href="/producer-reports">{{t "common:producer.openReportsTable"}}</a>
			</div>
		</div>

		<div class="col-sm pl-md-4">
			<hr class="d-sm-none">

			<h5>{{t "common:producer.products"}}</h5>

			<div class="LinksPg mb-2">
				<a href="/producer-catalog">{{t "common:producer.producerCatalog"}}</a>
				<a href="/producer-inventory">{{#if (hCkProducerWholesale)}}{{t "common:producer.producerRetailInventory"}}{{else}}{{t "common:producer.producerInventory"}}{{/if}}</a>
			</div>

			<p class="text-muted font-size-90 mb-2">
				{{t "common:producer.catalogHelp"}}
			</p>

			<hr>

			<h5>{{t "common:producer.delivery"}}</h5>

			<div class="LinksPg">
				<a href="/web-order-summary">{{t "common:producer.webOrderSummary"}}</a>
				<a href="/web-order-labels">{{t "common:producer.webOrderLabels"}}</a>
			</div>

			<hr>

			<h5>{{t "common:producer.earnings"}}</h5>

			<div class="d-flex flex-row justify-content-between mb-2">
				<div>
					{{t "common:producer.accountBalance"}}
				</div>
				<div class="font-weight-bold">
					{{hTextCurrOrOrig (hSum Producer.BalMoney Producer.BalEBT)}}
				</div>
			</div>
			<p class="text-muted font-size-90 mb-2">
				{{t "common:producer.balanceExplanation" name=CoopParams.CoopNameShort}}
			</p>

			<div class="LinksPg mb-2">
				<a href="/producer-invoices">{{t "common:producer.producerInvoices"}}</a>
				<a href="/producer-web-sales-by-variety">{{t "common:producer.webSalesByVariety"}}</a>
			</div>
			<p class="text-muted font-size-90 mb-2">
				{{t "common:producer.earningsPosted"}}
			</p>
		</div>
	</div>
</div>
