{{!-- producer-web-sales-by-variety.hbs
//    ---------------------------------
//    Producer Web Sales By Variety view
//
// This table requires horizontal scrolling when viewed on a mobile device, but
// I don't see what can be done about that. --}}

{{!-- We will skip the 'container' class to get more horizonal space: --}}
<div class="p-4">
	<div class="d-flex flex-row justify-content-between">
		<div class="flex-shrink-1">
			<h2>Producer web sales by variety</h2>

			<div class="row">
				<div class="col-md">
					This page shows delivered quantities and producer sale amounts by
					cycle ID and delivery end date, over the past six months. Export to
					see the same totals over the past year.
				</div>
				<div class="col-md">
					All on-site varieties are displayed, plus those with sales, even if
					they are no longer on-site. Nominal sale amounts are 'in cart' values,
					before producer or shopper fees have been assessed.
				</div>
			</div>
		</div>

		{{#unless CkSelImperUserSelf}}
		<div class="flex-shrink-0 text-right">
			<h3 class="mb-0">{{CredSelImperUser.NameLogin}}</h3>

			<div>
				{{>Misc/pIDsBlock CredSelImperUser}}
			</div>

			<hr>
		</div>
		{{/unless}}
	</div>

	<hr>

	{{#unless Cycs}}
	<div class="jumbotron">
		<h2 class="display-4 font-size-200">
			No finished cycles
		</h2>
	</div>
	{{else}}
	{{#unless Sales}}
	<div class="jumbotron">
		<h2 class="display-4 font-size-200">
			No listed varieties or web sales
		</h2>
	</div>
	{{else}}
	<div class="table-responsive mt-3">
		<table class="table table-sm table-striped table-hover mb-0">
			<thead>
				<tr>
					<th scope="col">Product / Variety</th>
					{{#each Cycs}}
					<th class="text-center" scope="col">
						{{hTextIDCyc IDCyc}}<br>
						{{hTextWhen WhenEndDeliv "Short" ""}}
					</th>
					{{/each}}
				</tr>
			</thead>
			<tbody>
				{{#each Sales}}
				<tr>
					<td>
						<a href="/product/{{IDProduct}}">
							{{hTextIDProduct IDProduct}} {{NameProduct}}
						</a><br>
						{{hTextIDVty IDVty}} {{hNameVty this}}
					</td>
					{{!-- This Cyc is contained by the Sales record. It must not be
					//    confused with the Cyc in the context root: --}}
					{{#each Cycs}}
					<td class="text-center align-middle">
						{{#if QtyDeliv}}
						{{QtyDeliv}}<br>
						{{hTextCurrOrOrig SaleNom}}
						{{else}}
						&mdash;
						{{/if}}
					</td>
					{{/each}}
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<hr>
	{{/unless}}
	{{/unless}}

	{{#if (hCkAnd Cycs.length Sales.length)}}
	<div class="d-flex flex-row">
		<a class="btn btn-secondary ml-auto" href="{{PathExportQty}}">
			Export quantities
		</a>
		<a class="btn btn-secondary ml-2" href="{{PathExportSale}}">
			Export sales
		</a>
	</div>
	{{/if}}
</div>