{{!-- change-password.hbs
//    -------------------
//    Change password view --}}

<div class="w-lg-60 container py-4">
	<h2 class="mb-3">{{t "common:password.changeTitle"}}</h2>

	<form id="form-main" class="pb-4" action="/change-password" method="POST"
		novalidate onsubmit="Disab_Form()">

		<input type="hidden" name="_csrf" value="{{TokCSRF}}">

		<div class="row">
			<div class="col-sm-6 form-group">
				<label for="PassOrig">{{t "common:password.originalPassword"}}</label>
				<input id="PassOrig" name="PassOrig" type="password" value="{{PassOrig}}"
					minlength="12" maxlength="50" required
					class="form-control {{#if MsgFailPassOrig}}is-invalid{{/if}}">
				{{hDivMsgFail MsgFailPassOrig}}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 form-group mb-0">
				<label for="PassNew">{{t "common:password.newPassword"}}</label>
				<input id="PassNew" name="PassNew" type="password" value="{{PassNew}}"
					minlength="12" maxlength="50" required
					class="form-control {{#if MsgFailPassNew}}is-invalid{{/if}}">
				{{hDivMsgFail MsgFailPassNew}}
				<div class="Explain mb-0">
					{{t "common:password.strongPasswordHint"}} <a
						href="https://www.howtogeek.com/195430/how-to-create-a-strong-password-and-remember-it/"
						tabindex="-1">
						{{t "common:password.strongPasswordLink"}}</a>!
				</div>
			</div>
			<div class="col-sm-6 form-group">
				<div class="form-group">
					<label for="PassNewConfirm">{{t "common:password.confirmNewPassword"}}</label>
					<input id="PassNewConfirm" name="PassNewConfirm" type="password"
						value="{{PassNewConfirm}}" minlength="12" maxlength="50" required
						class="form-control {{#if MsgFailPassNewConfirm}}is-invalid{{/if}}">
					{{hDivMsgFail MsgFailPassNewConfirm}}
				</div>
			</div>
		</div>

		<hr>

		<div class="d-flex">
			<button type="submit" class="btn btn-primary ml-auto">{{t "common:buttons.save"}}</button>
		</div>
	</form>
</div>
