{{!-- request-password-reset.hbs
//    --------------------------
//    Password reset request view --}}

<div class="container w-lg-50 py-4">
	<h2 class="mb-3">{{t "common:password.resetTitle"}}</h2>

	<p class="lead">
		{{t "common:password.resetInstructions" name=CoopParams.CoopNameShort}}
	</p>

	<form id="form-main" class="pb-4" action="/request-password-reset"
		method="POST" novalidate onsubmit="Disab_Form()">

		<input type="hidden" name="_csrf" value="{{TokCSRF}}">

		<div class="row">
			<div class="col-md form-group">
				<label for="NameLogin">{{t "common:password.username"}}</label>
				<input id="NameLogin" name="NameLogin" minlength="1" maxlength="50"
					required
					class="form-control {{#if MsgFailNameLogin}}is-invalid{{/if}}">
				{{hDivMsgFail MsgFailNameLogin}}
			</div>
		</div>

		<hr class="mt-0">

		<div class="d-flex">
			<button type="submit" class="btn btn-primary ml-auto">{{t "common:buttons.save"}}</button>
		</div>
	</form>
</div>
