{{!-- reset-password.hbs
//    -------------------
//    Reset password view --}}

<div class="container w-lg-60 py-4">
	<h2 class="mb-3">Reset password</h2>

	<form id="form-main" class="pb-4" action="/reset-password/{{TokResetPass}}"
		method="POST" novalidate onsubmit="Disab_Form()">

		<input type="hidden" name="_csrf" value="{{TokCSRF}}">

		<div class="row">
			<div class="col-sm-6 form-group">
				<label for="PassNew">New password</label>
				<input id="PassNew" name="PassNew" type="password" value="{{PassNew}}"
					minlength="12" maxlength="50" required
					class="form-control {{#if MsgFailPassNew}}is-invalid{{/if}}">
				{{hDivMsgFail MsgFailPassNew}}
				<p>
					<small>
						Be sure to choose a <a
							href="https://www.howtogeek.com/195430/how-to-create-a-strong-password-and-remember-it/"
							tabindex="-1">
							strong password</a>!
					</small>
				</p>
			</div>
			<div class="col-sm-6 form-group">
				<div class="form-group">
					<label for="PassNewConfirm">Confirm new password</label>
					<input id="PassNewConfirm" name="PassNewConfirm" type="password"
						value="{{PassNewConfirm}}" minlength="12" maxlength="50" required
						class="form-control {{#if MsgFailPassNewConfirm}}is-invalid{{/if}}">
					{{hDivMsgFail MsgFailPassNewConfirm}}
				</div>
			</div>
		</div>

		<hr class="mt-0">

		<div class="d-flex">
			<button type="submit" class="btn btn-primary ml-auto">Save</button>
		</div>
	</form>
</div>