{{!-- cashier.hbs
//    -----------
//    Cashier home view --}}

<div class="container-lg pt-4 pb-2">
	<div class="row">
		<div class="col-md">
			<h5>{{t "common:cashier.sales"}}</h5>

			<div class="LinksPg">
				<a href="/co-op-web-sales-by-subcategory">{{t "common:cashier.marketWebSalesBySubcategory"}}</a>
				<a href="/co-op-web-sales-by-location">{{t "common:cashier.marketWebSalesByLocation"}}</a>
			</div>
			<div class="LinksPg">
				<a href="/co-op-on-site-sales-by-variety">{{t "common:cashier.marketOnSiteSalesByVariety"}}</a>
			</div>

			<hr>

			<h5>{{t "common:cashier.accounting"}}</h5>

			<div class="LinksPg">
				<a href="/accounting-summary">{{t "common:cashier.accountingSummary"}}</a>
			</div>

			<div class="LinksPg">
				<a href="/shopper-charges">{{t "common:cashier.shopperCharges"}}</a>
				<a href="/producer-earnings">{{t "common:cashier.producerEarnings"}}</a>
			</div>

			<hr>

			<h5>{{t "common:cashier.advancedHubReports"}}</h5>

			<div class="LinksPg mb-0">
				<a href="/hub-reports">{{t "common:cashier.openReportsTable"}}</a>
			</div>
		</div>

		<div class="col-md">
			<hr class="d-block d-md-none mt-0">

			<h3 class="mb-3">{{t "common:cashier.transactionSearch"}}</h3>

			<form id="form-main" class="mb-3" action="/cashier" method="POST"
				autocomplete="off" onsubmit="Disab_Form()">

				<input type="hidden" name="_csrf" value="{{TokCSRF}}">

				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="IDTransact">{{t "common:cashier.transactionId"}}</label>
						<input id="IDTransact" name="IDTransact" value="{{IDTransact}}"
							class="form-control">
					</div>
					<div class="form-group col-md-4">
						<label for="IDMemb">{{t "common:admin.memberId"}}</label>
						<input id="IDMemb" name="IDMemb" value="{{IDMemb}}"
							class="form-control">
					</div>
					<div class="form-group col-md-4">
						<label for="IDProducer">{{t "common:admin.producerId"}}</label>
						<input id="IDProducer" name="IDProducer" value="{{IDProducer}}"
							class="form-control">
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="CdTypeTransact">{{t "common:cashier.transactionType"}}</label>
						<select name="CdTypeTransact" value="{{CdTypeTransact}}"
							class="custom-select">
							{{hOptsCdTypeTransactOrAny CdTypeTransact}}
						</select>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="CdMethPay">{{t "common:cashier.paymentMethod"}}</label>
						<select name="CdMethPay" value="{{CdMethPay}}"
							class="custom-select">
							{{hOptsCdMethPayOrAny CdMethPay}}
						</select>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="WhenStart{{IDCyc}}">{{t "common:cashier.startDate"}}</label>
						<input name="WhenStart{{IDCyc}}" type="date"
							placeholder="yyyy-mm-dd" value="{{hTextDateTimeInput WhenStart}}"
							class="WhenStart form-control {{#if MsgFailWhenStart}}is-invalid{{/if}}">
						{{hDivMsgFail MsgFailWhenStart}}
					</div>
					<div class="form-group col-md-6">
						<label for="WhenEnd{{IDCyc}}">
							{{t "common:cashier.endDate"}} <span class="text-info">({{t "common:cashier.inclusive"}})</span>
						</label>
						<input name="WhenEnd{{IDCyc}}" type="date" placeholder="yyyy-mm-dd"
							value="{{hTextDateTimeInput WhenEnd}}"
							class="WhenEnd form-control {{#if MsgFailWhenEnd}}is-invalid{{/if}}">
						{{hDivMsgFail MsgFailWhenEnd}}
					</div>
				</div>

				<p class="text-muted font-size-90 mb-2">
					{{t "common:cashier.transactionSearchHint"}}
				</p>

				<button type="submit" class="btn btn-primary mt-2">{{t "common:buttons.search"}}</button>
			</form>

			<p class="text-muted font-size-90">
				{{t "common:cashier.addTransactionHint"}}
			</p>
		</div>
	</div>
</div>
