{{!-- cashier.hbs
//    -----------
//    Cashier home view --}}

<div class="container-lg pt-4 pb-2">
	<div class="row">
		<div class="col-md">
			<h5>Sales</h5>

			<div class="LinksPg">
				<a href="/co-op-web-sales-by-subcategory">Market web sales by subcategory</a>
				<a href="/co-op-web-sales-by-location">Market web sales by location</a>
			</div>
			<div class="LinksPg">
				<a href="/co-op-on-site-sales-by-variety">Market on-site sales by variety</a>
			</div>

			<hr>

			<h5>Accounting</h5>

			<div class="LinksPg">
				<a href="/accounting-summary">Accounting summary</a>
			</div>

			<div class="LinksPg">
				<a href="/shopper-charges">Shopper charges</a>
				<a href="/producer-earnings">Producer earnings</a>
			</div>

			<hr>

			<h5>Advanced Hub Reports</h5>

			<div class="LinksPg mb-0">
				<a href="/hub-reports">Open Reports Table</a>
			</div>
		</div>

		<div class="col-md">
			<hr class="d-block d-md-none mt-0">

			<h3 class="mb-3">Transaction search</h3>

			<form id="form-main" class="mb-3" action="/cashier" method="POST"
				autocomplete="off" onsubmit="Disab_Form()">

				<input type="hidden" name="_csrf" value="{{TokCSRF}}">

				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="IDTransact">Transaction ID</label>
						<input id="IDTransact" name="IDTransact" value="{{IDTransact}}"
							class="form-control">
					</div>
					<div class="form-group col-md-4">
						<label for="IDMemb">Member ID</label>
						<input id="IDMemb" name="IDMemb" value="{{IDMemb}}"
							class="form-control">
					</div>
					<div class="form-group col-md-4">
						<label for="IDProducer">Producer ID</label>
						<input id="IDProducer" name="IDProducer" value="{{IDProducer}}"
							class="form-control">
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="CdTypeTransact">Transaction type</label>
						<select name="CdTypeTransact" value="{{CdTypeTransact}}"
							class="custom-select">
							{{hOptsCdTypeTransactOrAny CdTypeTransact}}
						</select>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="CdMethPay">Payment method</label>
						<select name="CdMethPay" value="{{CdMethPay}}"
							class="custom-select">
							{{hOptsCdMethPayOrAny CdMethPay}}
						</select>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="WhenStart{{IDCyc}}">Start date</label>
						<input name="WhenStart{{IDCyc}}" type="date"
							placeholder="yyyy-mm-dd" value="{{hTextDateTimeInput WhenStart}}"
							class="WhenStart form-control {{#if MsgFailWhenStart}}is-invalid{{/if}}">
						{{hDivMsgFail MsgFailWhenStart}}
					</div>
					<div class="form-group col-md-6">
						<label for="WhenEnd{{IDCyc}}">
							End date <span class="text-info">(inclusive)</span>
						</label>
						<input name="WhenEnd{{IDCyc}}" type="date" placeholder="yyyy-mm-dd"
							value="{{hTextDateTimeInput WhenEnd}}"
							class="WhenEnd form-control {{#if MsgFailWhenEnd}}is-invalid{{/if}}">
						{{hDivMsgFail MsgFailWhenEnd}}
					</div>
				</div>

				<p class="text-muted font-size-90 mb-2">
					Transactions matching <em>all</em> of the above criteria will be
					returned. For fewer results, add <em>more</em> criteria. Leave all
					fields blank to list all transactions.
				</p>

				<button type="submit" class="btn btn-primary mt-2">Search</button>
			</form>

			<p class="text-muted font-size-90">
				To add a transaction, find the member with
				<a href="/member-admin">Member Admin</a> or
				<a href="/producer-admin">Producer Admin</a>, then click
				<span class="font-weight-semi">Add member transaction</span> or
				<span class="font-weight-semi">Add producer transaction</span>.
			</p>
		</div>
	</div>
</div>