{{!-- acknowledgments.hbs
//    -------------------
//    Acknowledgments view --}}

<div class="w-lg-50 container-md py-4">
	<h3 class="mb-3">{{t "common:acknowledgments.title"}}</h3>

	<ul class="Spread">
		<li>
			{{t "common:acknowledgments.websiteBuilt"}} <a href="https://jquery.com/">jQuery</a>,
			<a href="https://getbootstrap.com/">Bootstrap</a>, {{t "common:acknowledgments.openSource"}}
		</li>
		<li>
			{{t "common:acknowledgments.shoppingApp"}}
		</li>
		<li>
			{{t "common:acknowledgments.onlineShopping"}}
		</li>
		<li>
			{{t "common:acknowledgments.donations"}} <a href="http://cultivatefoodconnections.org/donate">cultivatefoodconnections.org/donate</a>.
		</li>
	</ul>
	<div>
		{{t "common:acknowledgments.creativeCommons"}}
		<a href="https://creativecommons.org/licenses/by/3.0/">{{t "common:acknowledgments.creativeCommonsLicense"}}</a> {{t "common:acknowledgments.license"}}
	</div>
	<div class="mt-2">
		{{t "common:acknowledgments.thanks"}}
	</div>
</div>
