{{!-- edit-variety.hbs
//    ----------------
//    Edit Variety view --}}

<div class="w-lg-50 container py-4">
	<div class="d-flex flex-row justify-content-between font-size-110">
		<div class="mb-3">
			<h2 class="mb-1">Edit variety</h2>
			<div>{{>Misc/pLinkVty}}</div>
			{{#if (hCkOr IsWholesaleProducer (hCkStaffFromUser))}}
				<strong>{{#if (hIsWholesaleType CdVtyType)}}Wholesale{{else}}Retail{{/if}}</strong>
			{{/if}}
			
			<hr>
			<div>
				{{>Misc/pLinkIDProduct}}<br>
				<strong>{{NameProduct}}</strong>
			</div>
		</div>

		{{#unless CkImperUserSelf}}
		<div class="text-right">
			<h3 class="mb-0">{{CredImperUser.NameLogin}}</h3>

			{{>Misc/pIDsLine CredImperUser}}

			<hr class="my-2">
		</div>
		{{/unless}}
	</div>

	<form id="form-main" action="/edit-variety/{{IDVty}}" method="POST"
		novalidate onsubmit="Disab_Form()">

		<input type="hidden" name="_csrf" value="{{TokCSRF}}">

		{{>Product/pCtlsFormVty}}

		<hr>

		<div class="d-flex flex-row">
			<button type="submit" class="btn btn-primary ml-auto">Save</button>
		</div>
	</form>
</div>
