{{!-- pBodyDtlProducer.hbs
//    --------------------
//    Producer Detail body --}}

<div class="row">
	{{!-- Doesn't seem necessary to hide the border on small displays, or
	//    possible, without responsive border class: --}}
	<div class="col-lg pr-lg-4 border-lg-right">
		<div class="mb-2">
			{{Name1First}} {{Name1Last}}<br>
			{{#if Name2Last}}
			{{Name2First}} {{Name2Last}}<br>
			{{/if}}
			<strong>{{NameBus}}</strong><br>
			{{Addr1}}<br>
			{{#if Addr2}}{{Addr2}}<br>{{/if}}
			{{City}}, {{St}} {{Zip}}
			{{#if InstructDeliv}}<br><em>{{InstructDeliv}}</em>{{/if}}
		</div>

		<div class="mb-2">
			{{hLinkEmail Email}}
		</div>

		<div class="mb-2">
			{{hLinkPhone Phone1}}
			{{#if Phone2}}<br>{{hLinkPhone Phone2}}{{/if}}
		</div>

		<div class="LinksPg">
			<a href="/edit-about-producer/{{IDProducer}}">{{t "common:producerDetail.editAboutProducer"}}</a>
			<a href="/edit-producer-registration/{{IDProducer}}">{{t "common:producerDetail.editProducerRegistration"}}</a>
		</div>

		<hr>

		<h5>{{t "common:producerDetail.status"}}</h5>

		<div class="d-flex flex-row justify-content-between">
			<div>
				{{t "common:producerDetail.producerStatus"}}
			</div>
			<div>
				<strong>{{hTextCdReg CdRegProducer}}</strong>
			</div>
		</div>

		<div class="d-flex flex-row justify-content-between">
			<div>
				{{t "common:producerDetail.wholesaleStatus"}}
			</div>
			<div>
				<strong>{{hTextCdReg CdRegWholesale}}</strong>
			</div>
		</div>

		<div class="d-flex flex-row justify-content-between">
			<div>
				{{t "common:producerDetail.listingStatus"}}
			</div>
			<div>
				<strong>{{hTextCkListProducer CkListProducer}}</strong>
			</div>
		</div>

		<div class="d-flex flex-row justify-content-between mt-2">
			<div>
				{{t "common:producerDetail.producerSince"}}
			</div>
			<div>
				<strong>{{hTextWhen WhenRegProducer "Med"}}</strong>
			</div>
		</div>

		<div class="LinksPg mb-0">
			<a href="/edit-producer-status/{{IDProducer}}">{{t "common:producerDetail.editProducerStatus"}}</a>
		</div>
	</div>

	<div class="col-lg pl-lg-4">
		<hr class="d-lg-none mb-3">

		<h5>{{t "common:producerDetail.delivery"}}</h5>

		<div class="LinksPg mb-2">
			<a href="/producer-check-in/{{IDProducer}}"
				class="{{hClassDisab (hNot QtyProm)}}">
				{{t "common:producerDetail.producerCheckIn"}}
			</a>
		</div>
		<div>
			{{#if QtyProm}}
			<a href="/web-order-summary/{{IDProducer}}">
				{{QtyProm}} {{hPlural QtyProm "item"}} promised for delivery
			</a>
			{{else}}
			{{t "common:producerDetail.noItemsForDelivery"}}
			{{/if}}
		</div>

		<hr>

		<h5>{{t "common:producerDetail.earnings"}}</h5>

		<div class="d-flex flex-row justify-content-between mb-2">
			<div>
				{{t "common:producerDetail.accountBalance"}}
			</div>
			<div class="font-weight-bold">
				{{hTextCurrOrOrig (hSum BalMoney BalEBT)}}
			</div>
		</div>

		<div class="LinksPg mb-0">
			<a href="/producer-invoices/{{IDProducer}}">{{t "common:producerDetail.producerInvoices"}}</a>
			<a href="/transactions/{{IDMemb}}">{{t "common:producerDetail.transactions"}}</a>
			<a href="/add-producer-transaction/{{IDProducer}}"
				class="{{hClassDisabLackAccts}}">
				{{t "common:producerDetail.addProducerTransaction"}}
			</a>
		</div>
	</div>
</div>
