{{!-- pGridSearchProduct.hbs
//    ----------------------
//    Product search result grid --}}

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 no-gutters">
	{{#each Products}}
	{{!-- I would like to set the product dialog 'data-target' and 'data-toggle'
	//    throughout this element, and then cancel them within the links (so that
	//    the dialog is not toggled just before the page change) but there does
	//    not seem to be a way to do that without JavaScript: --}}
	<div class="col">
		<div class="CardProduct d-flex flex-column py-3 px-3
			{{hClassCornerBtm @index ../Products}}" min-height: "1000px">
			<div class="Head">
				<div class="d-flex flex-row justify-content-between
					align-items-baseline">
					<a class="Subcat" href="/product-search?IDSubcat={{IDSubcat}}">
						{{NameSubcat}}
					</a>

					{{#if CkNew}}
					<a class="New" href="/product-search">NEW</a>
					{{/if}}
				</div>

				<div>
					<a class="Product font-size-120 font-weight-bold"
						href="/product/{{IDProduct}}">
						{{NameProduct}}
					</a>
				</div>

				<div>
					<a class="Producer" href="/about-producer/{{IDProducer}}">
						{{NameBus}}
					</a>
				</div>
			</div>

			<div class="Body flex-grow-1 mt-2 mb-1">

				{{#if (gt Images.length 0)}}

                				<div id="productCarousel{{IDProduct}}" class="carousel slide carousel-fade"
                					data-interval="false">
                					<ol class="carousel-indicators mb-0">
                                        {{#each Images}}
                                        <li data-target="#productCarousel{{../IDProduct}}"
                                            data-slide-to="{{@index}}" class="{{#if @first}}active{{/if}}"></li>
                                        {{/each}}
                                    </ol>

                					<!-- Slides -->
                					<div class="carousel-inner" data-target="#DlgDtlProduct{{IDProduct}}" data-toggle="modal">
                						{{#each Images}}
                						<div class="carousel-item {{#if @first}}active{{/if}}">
                							<img class="d-block mx-auto" src="{{hPrefixImageWithStorage this}}"
                								alt="{{../NameProduct}} image {{add @index 1}}">
                						</div>
                						{{/each}}
                					</div>

                					<!-- Indicators (dots only) -->

                				</div>

                			{{else}}
				<hr class="mx-0 mt-0 mb-2">
				<div class="Descrip">{{Descrip}}</div>
				{{/if}}
			</div>

			<div class="Foot" data-target="#DlgDtlProduct{{IDProduct}}">


				{{#unless NameImgProduct}}
				<hr class="mx-0 mt-0 mb-2">
				{{/unless}}
				{{#if (hCkLessEq QtyOfferWebProduct QtyPromWebProduct)}}
				<div class="OOS">
					OUT OF STOCK
				</div>
				{{/if}}

				<div>
					{{#each Vtys}}
					<div class="d-flex flex-row justify-content-between">
						<div>{{hNameVty this}}</div>
						<div>{{hTextCurrOrOrig PriceFullWeb}}{{#if WgtMin}}/lb{{/if}}</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>

<!-- Carousel & image CSS overrides -->
	<style>
		/* center carousel content */
		#productCarousel {
				{
				IDProduct
			}
		}

			{
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		/* image container fixed height */
		#productCarousel {
				{
				IDProduct
			}
		}

		.carousel-inner {
			width: 100%;
			height: 100%;
		}

		/* place dots right below image */
		#productCarousel {
				{
				IDProduct
			}
		}

		.carousel-indicators {
			position: static;
			margin: 8px 0 0;
		}

		/* fade effect only */
		#productCarousel {
				{
				IDProduct
			}
		}

		.carousel-fade .carousel-item,
		#productCarousel {
				{
				IDProduct
			}
		}

		.carousel-fade .carousel-item-next,
		#productCarousel {
				{
				IDProduct
			}
		}

		.carousel-fade .carousel-item-prev,
		#productCarousel {
				{
				IDProduct
			}
		}

		.carousel-fade .carousel-item.active {
			transform: none !important;
			transition: opacity .5s ease-in-out !important;
		}

		/* style dots */
		#productCarousel {
				{
				IDProduct
			}
		}

		.carousel-indicators li {
			width: 12px;
			height: 12px;
			margin: 0 6px;
			background-color: #000 !important;
			border-radius: 50%;
			opacity: 0.5;
		}

		#productCarousel {
				{
				IDProduct
			}
		}

		.carousel-indicators .active {
			opacity: 1;
			background-color: #000 !important;
		}

		/* lock image size, no transitions */
		#productCarousel {
				{
				IDProduct
			}
		}

		.carousel-item img {
			height: 200%;
			width: 50%;
			object-fit: contain;
			transition: none !important;
		}
	</style>
</div>

