{{!-- pGridSearchProduct.hbs
//    ----------------------
//    Product search result grid --}}

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 no-gutters">
	{{#each Products}}
	{{!-- I would like to set the product dialog 'data-target' and 'data-toggle'
	//    throughout this element, and then cancel them within the links (so that
	//    the dialog is not toggled just before the page change) but there does
	//    not seem to be a way to do that without JavaScript: --}}
	<div class="col">
		<div class="CardProduct d-flex flex-column py-3 px-3

			{{hClassCornerBtm @index ../Products}}">
			<div class="Head">
				<div class="d-flex flex-row justify-content-between
					align-items-baseline">
					<a class="Subcat" href="/product-search?IDSubcat={{IDSubcat}}">
						{{NameSubcat}}
					</a>
					{{>Shop/pFavoriteButton ShowButton=../CredUser}}
					{{#if CkNew}}
						<a class="New" href="/product-search">NEW</a>
					{{/if}}
				</div>

				<div>
					<a class="Product font-size-120 font-weight-bold" href="/product/{{IDProduct}}">
						{{NameProduct}}
					</a>
				</div>

				<div>
					<a class="Producer" href="/about-producer/{{IDProducer}}">
						{{NameBus}}
					</a>
				</div>
			</div>

			<div class="Body flex-grow-1 mt-2 mb-1" data-target="#DlgDtlProduct{{IDProduct}}" data-toggle="modal">

				{{#if NameImgProduct}}
				<div style="background-image: url('{{hPrefixImageWithStorage NameImgProduct}}');"
					class="Img rounded rounded-lg">
				</div>

				{{else}}

				<hr class="mx-0 mt-0 mb-2">
				<div class="Descrip">{{Descrip}}</div>
				{{/if}}
			</div>




			<div class="Foot" data-target="#DlgDtlProduct{{IDProduct}}">
				{{#unless NameImgProduct}}
				<hr class="mx-0 mt-0 mb-2">
				{{/unless}}
				{{#if (hCkLessEq QtyOfferWebProduct QtyPromWebProduct)}}
				<div class="OOS">
					OUT OF STOCK
				</div>
				{{/if}}

				{{#each Vtys}}
				<div class="d-flex flex-row justify-content-between" id="CardFooterTblVty{{IDVty}}">
					{{>Shop/pCardFooterTblVtyShop this}}
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{/each}}
</div>