{{!-- product-search.hbs
//    ------------------
//    Product Search view --}}

<style>
	body {
		/*background: linear-gradient(120deg, hsla(66, 30%, 80%, 0.5),
			hsla(66, 30%, 80%, 0) 70.71%);*/
	}
</style>
<div class="container py-4">
	<form class="form-inline px-1 mb-2" action="/product-search" method="POST"
		onsubmit="Disab_Form()">
		<div>
			<div class="btn btn-primary mt-2 mt-sm-0 production-list-noclick"
				style="background-color: #036667; border:1px solid #036667; margin:1px;"
				onclick="showProdList()">
				{{t "common:search.productionType"}}
			</div>
			<div id="production-list" class="production-list-noclick"
				style="text-align:left; padding-left: 15px; width:280px;
				       border:1px solid #036667; position:absolute;
				       display:none; background-color: #036667; z-index:9999;">
				{{#each AttrsProduct}}						
					<input class="production-list-noclick" id="Ck{{Cd}}"
					       name="Ck{{Cd}}" type="checkbox">
					<label class="production-list-noclick"
					       style="color: #fff; display:inline-block; margin-bottom: .5rem;"
					       for="Ck{{Cd}}">
						{{Text}}
					</label>
					<br class="production-list-noclick">
				{{/each}}
				{{#if CoopParams.isProductTypesPageDefined}}
				<div style="width:100%; text-align:center; padding-right:15px; margin-bottom:10px;">
					<a id="production-info-link" href="/production-types" target="_blank">
						<b>{{t "common:search.productionTypeInfo"}}</b>
					</a>
				</div>
				{{/if}}
			</div>
		</div>

		<input type="hidden" name="_csrf" value="{{TokCSRF}}">

		<input id="Terms" name="Terms" type="text" value="{{Terms}}" autofocus
		       class="form-control flex-grow-1 mr-sm-2" style="margin-left:.5rem;">

		{{!-- I added this container because sometimes the buttons wrap awkwardly on
		//    my old Android phone, with the Search button on the top line, and the
		//    vertical rule plus the Past Purchases button on the next. I see this
		//    in the mobile versions of Chrome and Firefox, yet those same browsers
		//    do not exhibit this behavior on the desktop, even when they are set to
		//    emulate phones.
		//
		//    This isn't perfect, because there is no vertical space between the
		//    Terms edit and the wrapped buttons when the problem happens. I can't
		//    seem to fix that without breaking the vertical spacing on the desktop,
		//    which does put space between the edit and the buttons when it wraps: --}}
		<div class="d-flex">
			<button type="submit" class="btn btn-primary mt-2 mt-sm-0"
			        style="background-color:#737577; border:1px solid #737577;">
				<img src="{{hPrefixStatic 'search.svg'}}" alt="" width="20" height="20"
				     class="IconBtn" style="position: relative; top:-2px">
				{{t "common:search.search"}}
			</button>

			{{#if CredUser}}
			{{!-- This vertical rule is meant to prevent users from thinking that the
			//    search terms apply to the past purchases search: --}}
			<div class="border-left ml-2 pl-2 mt-2 mt-sm-0">
				<a class="btn btn-secondary" href="/product-search?CkPast=true">
					{{t "common:search.pastPurchases"}}
				</a>
			</div>
			{{/if}}
		</div>
	</form>

	<div class="d-sm-flex flex-row px-1 my-3">
		{{#if SummsParam}}
		<div class="lead">
			{{#each SummsParam}}
				{{this.Lbl}}{{#if this.Val}}:
				<strong>{{this.Val}}</strong>{{/if}}{{#unless @last}}, {{/unless}}
			{{/each}}
		</div>
		{{/if}}
		<p class="lead ml-auto mb-0">
			{{TextRg}}
		</p>
	</div>

	{{>Shop/pGridSearchProduct}}

	<div class="d-flex flex-row mt-3 pl-1">
		{{#if CkPaging}}
		<div class="ml-auto">
			{{{hBtnPageSearch PathPagePrev (t "common:search.previous")}}}
			{{{hBtnPageSearch PathPageNext (t "common:search.next")}}}
		</div>
		{{/if}}
	</div>
</div>

{{>Shop/pDlgsProduct}}
<script>
	$( document ).ready(function() {
		const matchingAttrsArray = {{{json2 MatchingAttrs}}};
		console.log(matchingAttrsArray);
		matchingAttrsArray.forEach(attr => {
			$( "#" + attr).prop( "checked", true );
		})
	});
	function showProdList() {
		$("#production-list").toggle();
	}

	$('html').click(function(e) {                    
		if(!$(e.target).hasClass('production-list-noclick') )
		{
			$("#production-list").hide();               
		}
	}); 
</script>
